:root {
  --primary-color: #ffffff;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 144px;
  height: 224px;
  padding: 0.5rem 0.3rem;
  margin-top: 16px;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-left: 6px;
  position: relative;
  border-radius: 10px;
  box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.card__title {
  width: 100%;
  height: 25px;
  font-weight: 400;
  text-align: center;
  font-weight: bold;
}

.card__price {
  width: 100%;
  height: 30px;
  font-weight: 400;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
}

.image__container {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.image__container img {
  width: 100%;
  object-fit: cover;
}

.btn__container {
  height: 50px;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* .btn__container__buttonMinus {
  width: 45px;
  height: 45px;
  float: left;
  margin-left: 15px;
}
.btn__container__buttonMinus:active {
  color: #ffffff;
}

.btn__container__buttonPlus {
  width: 45px;
  height: 45px;
  float: right;
  margin-right: 15px;
}
.btn__container__buttonPlus:active {
  color: #ffffff;
} */

.card__price {
  text-align: center;
  display: inline-block;
}

.card__badge {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  transform: translate(20px, -20px) scale(1);
  font-weight: bold;
  text-align: center;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  animation: scaleanimation 1s ease infinite;
  opacity: 0.8;
}

@keyframes scaleanimation {
  to {
    transform: translate(20px, -20px) scale(1.05);
    opacity: 1;
  }
}
